body {
  font-family: Arial, sans-serif;
}

#header {
  color: #FFF;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background: #AAA;
  border: none;
  border-radius: 10px;
}
button:hover {
  background: #888;
}
button:active {
  background: #555;
}

/* applies to all the dog sections */
#funhouse {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
}

#funhouse section {
  width: 25%;
  padding: 10px;
  text-align: center;
}

#funhouse section img {
  width: 80%;
  border: 5px solid black;
}
